*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-evenly;
    
    

}



header span{
    width: 53px;
    height: 57px;
    

}
.menu-bar{
    width: 524px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    
    
    
}
.a-menu-bar{
    font-size: 14px;
    align-items: center;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    color: #282c3f;

    

    
    
    
}
.a-menu-bar sup{
    padding: 0px 0px 15px 5px;
    color: #ff3f6c;

}

.menu-bar li{
    width: 56px;
    height: 18px;
    list-style-type: none;
    
}
.query{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f5f5f6;
    
}
.search-box{
    width: 500px;
    height: 100%;
    display: flex;
    padding: 5px 0px;
    align-items: center;
}
.search-bar{
    
    width: 92%;
    font-size: 14px;
    height: 40px;
    line-height: 24px;
    color: #696e79;
    padding: 8px 10px 10px;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background-color: #f5f5f6;
}
.query i{
    font-size: 16px;
}
.action{
    width: 165px;
    height: 57px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    

}
.action-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    
}
.action-items-text{
    margin: 0px 5px;
    padding: 5px;
    font-size: 12px;
}
.discountbanner{
    width: 1283px;
    height: 261px;
    margin: auto;
}
.header-banner{
    width: 1283px;
    height: 385px;
    margin: auto;
    display: flex;
}
.first-banner, .second-banner{
    width: 50%;
    height: 100%;
    
}

.coupon-section{
    width: 100%;
}
.coupon-header{
    width: 100%;
    height: 130px;
}
.coupon-images{
    width: 100%;
    display: flex;
    height: 141px;
}
.coupon-img1, .coupon-img2{
    width: 50%;
    height: 140px;
}
.crazy-deals{
    width: 100%;
    height: 138px;
    /* margin: 20px 0px; */
}
.crazy-deals-slider{
    width: 100%;
    height: 440px;
    display: flex;
    padding: 20px 0px;
}
.crazy-deals-slides{
    width: 270px;
    height: 400px;
    display: flex;
}
.shop-by-category{
    width: 100%;
}
.shop-category-header>img{
    width: 100%;
}
.shop-by-category-section{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-by-category-images{
    width: 225px;
    
}
.shop-by-category-images>img{
    width: 100%;
    
}
.offer-image-section{
    width: 100%;
}
.offer-image-section>img{
    width: 100%;
}
footer{
    width: 100%;  
}
.footer-section{
    width: 75%;
    margin: auto;
    display: flex;
}
.footer-col1, .footer-col2{
    width: 15%;
}
.footer-col3, .footer-col4{
    width: 35%;
}
.fheader {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 0px;
    
}
.footer-col1>ul li{
    color: #696b79;
    font: 15px;
    padding-bottom: 5px;
    list-style-type: none;
}
.footer-col2>ul li{
    color: #696b79;
    font: 15px;
    padding-bottom: 5px;
    list-style-type: none;
}
.footer-col3-icons{
    width: 35%;
    display: flex;
    
}
.footer-col3-icons>img{
    width: 130px;

}
.social {
    font-size: 12px;
    font-weight: 700;
    padding: 20px 0px;
}
.footer-social-icons>img {
    width: 25px;
    margin: 5px;
}
.footer-col4-row {
    width: 100%;
    display: flex;
    padding-top: 20px;
    margin: 10px 0px;
}

.footer-col4-icon>img {
    width: 50px;
    margin-right: 10px;
}
.footer-col4-text{
    padding: 8px;
    font-size: 12px;
}

/* home & living page css */

.top-banner-banner{
    width: 1231px;
    height: 323px;
    margin: auto;
    margin-top: 25px;
}
.top-section-banner>img{
    width: 100%;
    height: 100%;
    
}
.middle-section{
    width: 100%;
    display: flex;
    padding-left: 60px;
    
}
.mid-row{
    margin-top: 60px;
}
.middle-section-container1{
    width: 965px;
}
.middle-section-container2{
    width: 366px;
    margin: 30px;
}
.middle-section-banner-title{
    font-size: 1.8em;
    letter-spacing: 4px;
    color: #3e4152;
    margin: 50px 0 10px 30px;
    font-weight: 700;
}
.middle-section-container1-row1{
    width: 905px;
    display: flex;
}
.middle-section-container1-row1-img1{
    width: 452px;
}
.middle-section-container1-row1-img1>img{
    width: 444px;
    height: 347px;
    
}
.middle-section-container1-row1-img2>img{
    width: 444px;
    height: 347px;
    
}
.middle-section-container1-row2{
    width: 905px;
    display: flex;
}
.middle-section-container1-row2-img1{
    width: 452px;
}
.middle-section-container1-row2-img1>img{
    width: 444px;
    height: 347px;
    
}
.middle-section-container1-row2-img2>img{
    width: 444px;
    height: 347px;
}
.middle-section-container1-row3{
    width: 905px;
    display: flex;
}
.middle-section-container1-row3-img1{
    width: 452px;
}
.middle-section-container1-row3-img1>img{
    width: 444px;
    height: 347px;
    
}
.middle-section-container1-row3-img2>img{
    width: 444px;
    height: 347px;
}
.middle-section-container2{
    width: 386px;
    color: #3e4152;
    
}
.top:hover{
    text-decoration: underline;
}
.bottom:hover{
    text-decoration: underline;
}
.top{
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: #3e4152;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
}
.bottom{
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: #3e4152;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding-top: 5px;
}
.bottom-section{
    width: 100%;
    background-color: #efeded;
    
}
.bottom-section-banner>img{
    width: 100%;
    height: 182px;
    margin-top: 20px;
}
.bottom-section-row1-images{
    width: 100%;
    display: flex;
    margin: auto;
    
    

    
}
.image{
    width: 410px;
    height: 426px;
    
}
.image:nth-child(1){
    padding-left: 40px;

}
.image>img{
    width: 402px;
    
}
.featured-brand{
    width: 100%;
    background-color: white;
    
    
}
.featured-brand-banner>img{
    width: 1291px;
    height: 163px;
    padding-left: 60px;
}
.brand-img{
    display: flex;
    margin: 0px 121px;
}
.img-hover{
    transition: 1s;
    
}
.img-hover:hover{
    transform: scale(1.05);    
}
.brand-card{
    height: 146px;
    width: 270px;  
    margin: 10px;
    overflow: hidden;
    
}
.brand-card>img{
    height: 146px;
    width: 200px; 


}




